In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_absolute_percentage_error, r2_score

# Pipeline related libraries
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.base import BaseEstimator, TransformerMixin

%matplotlib inline

In [2]:
os.chdir("..")

In [3]:
input_path = os.path.join(os.getcwd(),'02. Input')

In [4]:
# os.path.join(input_path,'airbnb_listings.csv')

In [5]:
data = pd.read_csv(os.path.join(input_path,'airbnb_listings.csv'))

In [6]:
data.shape

(2329, 75)

In [7]:
data.head(3)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,70820.0,https://www.airbnb.com/rooms/70820,2.023030e+13,28-03-2023,previous scrape,City View - Sarah's double room.,A good sized room with a comfy double bed and ...,The neighbourhood is friendly and welcoming; m...,https://a0.muscache.com/pictures/b33c30be-56a0...,360195,...,4.94,4.75,4.77,NaN,f,5,0,5,0,1.56
1,117122.0,https://www.airbnb.com/rooms/117122,2.023030e+13,28-03-2023,city scrape,City Centre-Waterside Retreat,My Harbourside apartment centrally located min...,This area is on the water and has splendid vie...,https://a0.muscache.com/pictures/f6d39021-af07...,591555,...,4.99,4.97,4.88,NaN,f,1,0,1,0,1.21
2,176306.0,https://www.airbnb.com/rooms/176306,2.023030e+13,28-03-2023,city scrape,The White Room - Central Bristol Art House Ga...,"A small double room in an artist's house, with...","Southville is pretty darn hip, frankly. North ...",https://a0.muscache.com/pictures/e1e7fdfc-9db5...,708175,...,4.93,4.74,4.70,NaN,f,1,0,1,0,0.37

In [8]:
data.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', '0',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [9]:
keep_columns = [
       'host_response_time', 'host_response_rate', 'host_acceptance_rate','host_is_superhost', 
       #'host_listings_count', 'host_total_listings_count', 
       'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       # 'latitude', 'longitude', 
       'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities',
       #'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       #'maximum_minimum_nights', 'minimum_maximum_nights',
       #'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       #'maximum_nights_avg_ntm', 'calendar_updated', 
       #'has_availability','availability_30', 
       #'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 
       #'first_review', 'last_review', 
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 
       #'license', 
       'instant_bookable', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 
       #'reviews_per_month', 
       'price']

In [10]:
data = data[keep_columns]

In [11]:
data['neighbourhood'] = data['neighbourhood'].fillna('')

In [12]:
data = data[data['neighbourhood'].str.lower().str.contains('bristol')]

In [13]:
data['neighbourhood'].value_counts()

City of Bristol, England, United Kingdom           363
Bristol City, England, United Kingdom              320
Bristol, England, United Kingdom                   192
Bristol, United Kingdom                             97
Bristol, City of Bristol, United Kingdom            10
Bristol, Avon, United Kingdom                        8
Clifton, Bristol, United Kingdom                     6
Bristol, UK, United Kingdom                          6
City of Bristol, Bristol, United Kingdom             6
Redland, Bristol, United Kingdom                     4
Bristol City, Southville, United Kingdom             3
Bristol, Somerset, United Kingdom                    3
Bristol , England, United Kingdom                    2
City of Bristol, Avon, United Kingdom                2
Bristol, St Andrews, United Kingdom                  1
Bristol, south glos, United Kingdom                  1
Bristol, Westbury on Trym, United Kingdom            1
Easton, Bristol, United Kingdom                      1
Bristol, Dorset, United Kingdom                      1
Center City of Bristol, England, United Kingdom      1
Bristol, ., United Kingdom                           1
Stockwood, Bristol, England, United Kingdom          1
Bristol , Avon, United Kingdom                       1
Bristol City, United Kingdom                         1
Name: neighbourhood, dtype: int64

In [300]:
X = data.drop(columns=['neighbourhood', 'price'], axis=1)

In [301]:
X.columns

Index(['host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities',
       'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

In [366]:
y = data['price'].str.replace('$','').str.replace(',','').astype('float').astype('int')

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\3938196490.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  y = data['price'].str.replace('$','').str.replace(',','').astype('float').astype('int')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032 entries, 0 to 2325
Data columns (total 30 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_response_time                            885 non-null    object
 1   host_response_rate                            885 non-null    object
 2   host_acceptance_rate                          982 non-null    object
 3   host_is_superhost                             1032 non-null   object
 4   host_verifications                            1032 non-null   object
 5   host_has_profile_pic                          1032 non-null   object
 6   host_identity_verified                        1032 non-null   object
 7   neighbourhood                                 1032 non-null   object
 8   property_type                                 1032 non-null   object
 9   room_type                                     1032 non-null   object
 10  accommodates                                  1032 non-null   int64
 11  bathrooms_text                                1031 non-null   object
 12  bedrooms                                      979 non-null    float64
 13  beds                                          1005 non-null   float64
 14  amenities                                     1032 non-null   object
 15  number_of_reviews_ltm                         1032 non-null   int64
 16  number_of_reviews_l30d                        1032 non-null   int64
 17  review_scores_rating                          920 non-null    float64
 18  review_scores_accuracy                        918 non-null    float64
 19  review_scores_cleanliness                     918 non-null    float64
 20  review_scores_checkin                         918 non-null    float64
 21  review_scores_communication                   918 non-null    float64
 22  review_scores_location                        918 non-null    float64
 23  review_scores_value                           918 non-null    float64
 24  instant_bookable                              1032 non-null   object
 25  calculated_host_listings_count                1032 non-null   int64
 26  calculated_host_listings_count_entire_homes   1032 non-null   int64
 27  calculated_host_listings_count_private_rooms  1032 non-null   int64
 28  calculated_host_listings_count_shared_rooms   1032 non-null   int64
 29  price                                         1032 non-null   object
dtypes: float64(9), int64(7), object(14)
memory usage: 249.9+ KB

#### 01.a Exploring columns with Object data type

In [15]:
obj_cols = data.select_dtypes(include=['object']).columns

In [16]:
obj_data = data[obj_cols]

In [17]:
obj_cols

Index(['host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_verifications', 'host_has_profile_pic',
       'host_identity_verified', 'neighbourhood', 'property_type', 'room_type',
       'bathrooms_text', 'amenities', 'instant_bookable', 'price'],
      dtype='object')

In [18]:
obj_data['host_response_time'].isna().sum(), obj_data['host_response_time'].value_counts()

(147,
 within an hour        689
 within a few hours    135
 within a day           57
 a few days or more      4
 Name: host_response_time, dtype: int64)

In [19]:
obj_data['host_response_rate'].isna().sum(), obj_data['host_response_rate'].value_counts()

(147,
 100%    675
 98%      65
 99%      61
 90%      11
 50%       9
 97%       8
 88%       6
 94%       6
 91%       6
 0%        4
 89%       4
 86%       4
 93%       4
 80%       3
 83%       3
 92%       3
 96%       3
 67%       2
 63%       2
 75%       2
 70%       1
 95%       1
 87%       1
 60%       1
 Name: host_response_rate, dtype: int64)

In [20]:
obj_data['host_acceptance_rate'].isna().sum(), obj_data['host_acceptance_rate'].value_counts()

(50,
 100%    275
 98%     130
 99%      68
 97%      62
 72%      61
        ...
 69%       1
 59%       1
 44%       1
 47%       1
 64%       1
 Name: host_acceptance_rate, Length: 62, dtype: int64)

In [21]:
obj_data['host_is_superhost'].isna().sum(), obj_data['host_is_superhost'].value_counts()

(0,
 f    650
 t    382
 Name: host_is_superhost, dtype: int64)

In [22]:
obj_data['host_verifications'].isna().sum(), obj_data['host_verifications'].value_counts()

(0,
 ['email', 'phone']                  810
 ['email', 'phone', 'work_email']    165
 ['phone']                            42
 ['phone', 'work_email']              12
 []                                    2
 ['email']                             1
 Name: host_verifications, dtype: int64)

In [23]:
obj_data['host_has_profile_pic'].isna().sum(), obj_data['host_has_profile_pic'].value_counts()

(0,
 t    1029
 f       3
 Name: host_has_profile_pic, dtype: int64)

In [24]:
obj_data['host_identity_verified'].isna().sum(), obj_data['host_identity_verified'].value_counts()

(0,
 t    988
 f     44
 Name: host_identity_verified, dtype: int64)

In [25]:
obj_data['neighbourhood'].isna().sum(), obj_data['neighbourhood'].value_counts()

(0,
 City of Bristol, England, United Kingdom           363
 Bristol City, England, United Kingdom              320
 Bristol, England, United Kingdom                   192
 Bristol, United Kingdom                             97
 Bristol, City of Bristol, United Kingdom            10
 Bristol, Avon, United Kingdom                        8
 Clifton, Bristol, United Kingdom                     6
 Bristol, UK, United Kingdom                          6
 City of Bristol, Bristol, United Kingdom             6
 Redland, Bristol, United Kingdom                     4
 Bristol City, Southville, United Kingdom             3
 Bristol, Somerset, United Kingdom                    3
 Bristol , England, United Kingdom                    2
 City of Bristol, Avon, United Kingdom                2
 Bristol, St Andrews, United Kingdom                  1
 Bristol, south glos, United Kingdom                  1
 Bristol, Westbury on Trym, United Kingdom            1
 Easton, Bristol, United Kingdom                      1
 Bristol, Dorset, United Kingdom                      1
 Center City of Bristol, England, United Kingdom      1
 Bristol, ., United Kingdom                           1
 Stockwood, Bristol, England, United Kingdom          1
 Bristol , Avon, United Kingdom                       1
 Bristol City, United Kingdom                         1
 Name: neighbourhood, dtype: int64)

In [26]:
obj_data['property_type'].isna().sum(), obj_data['property_type'].value_counts()

(0,
 Entire rental unit                    234
 Private room in home                  177
 Entire home                           170
 Private room in rental unit            99
 Entire serviced apartment              65
 Private room in townhouse              63
 Entire condo                           62
 Entire townhouse                       36
 Private room in condo                  24
 Private room in bed and breakfast      15
 Entire guest suite                     14
 Entire loft                            10
 Tiny home                               9
 Room in serviced apartment              9
 Entire guesthouse                       8
 Entire cottage                          6
 Private room in guest suite             5
 Private room in bungalow                3
 Private room                            3
 Room in aparthotel                      3
 Private room in serviced apartment      2
 Private room in tiny home               2
 Private room in loft                    2
 Room in hotel                           2
 Houseboat                               1
 Private room in cabin                   1
 Shared room in home                     1
 Entire bungalow                         1
 Private room in yurt                    1
 Barn                                    1
 Private room in castle                  1
 Camper/RV                               1
 Entire place                            1
 Name: property_type, dtype: int64)

In [27]:
obj_data['room_type'].isna().sum(), obj_data['room_type'].value_counts()

(0,
 Entire home/apt    619
 Private room       401
 Hotel room          11
 Shared room          1
 Name: room_type, dtype: int64)

In [28]:
obj_data['bathrooms_text'].isna().sum(), obj_data['bathrooms_text'].value_counts()

(1,
 1 bath              432
 1 shared bath       164
 1 private bath      136
 2 baths              90
 1.5 baths            78
 1.5 shared baths     43
 2.5 baths            32
 3 baths              22
 2 shared baths        9
 3.5 baths             6
 4.5 baths             4
 Shared half-bath      4
 2.5 shared baths      3
 5 baths               3
 3 shared baths        2
 7 baths               1
 6 baths               1
 Half-bath             1
 Name: bathrooms_text, dtype: int64)

In [31]:
obj_data['instant_bookable'].isna().sum(), obj_data['instant_bookable'].value_counts()

(0,
 f    792
 t    240
 Name: instant_bookable, dtype: int64)

#### 01.b Exploring columns with Numerical data type

In [32]:
numerical_cols = data.select_dtypes(include=['int64', 'float64']).columns

In [33]:
numerical_cols

Index(['accommodates', 'bedrooms', 'beds', 'number_of_reviews_ltm',
       'number_of_reviews_l30d', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

In [34]:
numerical_data = data[numerical_cols]

In [35]:
numerical_data.describe()

,accommodates,bedrooms,beds,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,1032.000000,979.000000,1005.000000,1032.000000,1032.000000,920.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,1032.000000,1032.000000,1032.000000,1032.000000
mean,3.302326,1.642492,2.039801,16.679264,1.246124,4.734359,4.812015,4.761351,4.864357,4.834455,4.782614,4.672985,17.626938,12.415698,4.531008,0.001938
std,2.347931,1.082899,1.793194,22.841987,2.141793,0.417342,0.311637,0.317527,0.311846,0.359569,0.276998,0.363929,38.103073,33.725897,13.903611,0.044001
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,1.000000,1.000000,0.000000,4.670000,4.770000,4.670000,4.850000,4.830000,4.720000,4.600000,1.000000,0.000000,0.000000,0.000000
50%,2.000000,1.000000,1.000000,8.000000,0.000000,4.850000,4.900000,4.850000,4.940000,4.940000,4.840000,4.770000,2.000000,1.000000,0.000000,0.000000
75%,4.000000,2.000000,2.000000,23.000000,2.000000,4.940000,4.967500,4.960000,5.000000,5.000000,4.940000,4.880000,6.000000,2.000000,2.000000,0.000000
max,16.000000,9.000000,21.000000,170.000000,15.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,148.000000,134.000000,60.000000,1.000000

In [36]:
numerical_data.shape

(1032, 16)

### 2. Cleaning the Data

#### 2.a Cleaning numerical data

In [37]:
for col in numerical_cols:
    if numerical_data[col].isna().sum():
        if numerical_data[col].dtype == 'int64':
            numerical_data[col] = numerical_data[col].fillna(numerical_data[col].median())
        elif numerical_data[col].dtype == 'float64':
            numerical_data[col] = numerical_data[col].fillna(numerical_data[col].mean())

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\1966363746.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_data[col] = numerical_data[col].fillna(numerical_data[col].mean())

In [38]:
numerical_data['beds'] = numerical_data['beds'].astype('int64')
numerical_data['bedrooms'] = numerical_data['bedrooms'].astype('int64')

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\2075073306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_data['beds'] = numerical_data['beds'].astype('int64')
C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\2075073306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numerical_data['bedrooms'] = numerical_data['bedrooms'].astype('int64')

In [39]:
numerical_data = numerical_data.reset_index(drop=True)

In [40]:
numerical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 16 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   accommodates                                  1032 non-null   int64
 1   bedrooms                                      1032 non-null   int64
 2   beds                                          1032 non-null   int64
 3   number_of_reviews_ltm                         1032 non-null   int64
 4   number_of_reviews_l30d                        1032 non-null   int64
 5   review_scores_rating                          1032 non-null   float64
 6   review_scores_accuracy                        1032 non-null   float64
 7   review_scores_cleanliness                     1032 non-null   float64
 8   review_scores_checkin                         1032 non-null   float64
 9   review_scores_communication                   1032 non-null   float64
 10  review_scores_location                        1032 non-null   float64
 11  review_scores_value                           1032 non-null   float64
 12  calculated_host_listings_count                1032 non-null   int64
 13  calculated_host_listings_count_entire_homes   1032 non-null   int64
 14  calculated_host_listings_count_private_rooms  1032 non-null   int64
 15  calculated_host_listings_count_shared_rooms   1032 non-null   int64
dtypes: float64(7), int64(9)
memory usage: 129.1 KB

#### 2.b Cleaning object type data

In [42]:
impute = SimpleImputer(strategy='most_frequent')

In [43]:
for col in obj_cols:
    if obj_data[col].isna().sum():
        print(col)
        obj_data[col] = impute.fit_transform(obj_data[[col]])

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\3586505857.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data[col] = impute.fit_transform(obj_data[[col]])
C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\3586505857.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data[col] = impute.fit_transform(obj_data[[col]])
C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\3586505857.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data[col] = impute.fit_transform(obj_data[[col]])
C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\3586505857.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data[col] = impute.fit_transform(obj_data[[col]])

host_response_time
host_response_rate
host_acceptance_rate
bathrooms_text

### 3. Creating Analytical Data Set (ADS)

In [45]:
ads = pd.DataFrame()

In [46]:
ohe = OneHotEncoder()

In [47]:
# host_response_time
host_response_time = pd.DataFrame(ohe.fit_transform(obj_data[['host_response_time']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, host_response_time], axis = 1)

In [48]:
# host_response_rate
def response_cat(response_rate):
    if response_rate == 100:
        return '100'
    elif response_rate >= 95 and response_rate <100:
        return 'over_95'
    elif response_rate >= 90 and response_rate <95:
        return 'over_90'
    elif response_rate >= 70 and response_rate <90:
        return 'over_70'
    else:
        return 'below_70'

In [50]:
obj_data['host_response_rate'] = obj_data['host_response_rate'].str.replace('%','').astype('int')
obj_data['host_response_rate_cat'] = obj_data['host_response_rate'].apply(response_cat)
obj_data['host_response_rate_cat'].value_counts()

host_response_rate_cat = pd.DataFrame(ohe.fit_transform(obj_data[['host_response_rate_cat']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, host_response_rate_cat], axis = 1)

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\121515869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data['host_response_rate'] = obj_data['host_response_rate'].str.replace('%','').astype('int')
C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\121515869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data['host_response_rate_cat'] = obj_data['host_response_rate'].apply(response_cat)

In [51]:
# host_acceptance_rate
def acceptance_cat(acceptance_rate):
    if acceptance_rate == 100:
        return '100'
    elif acceptance_rate >= 95 and acceptance_rate <100:
        return 'over_95'
    elif acceptance_rate >= 90 and acceptance_rate <95:
        return 'over_90'
    elif acceptance_rate >= 70 and acceptance_rate <90:
        return 'over_70'
    else:
        return 'below_70'

obj_data['host_acceptance_rate'] = obj_data['host_acceptance_rate'].str.replace('%','').astype('int')
obj_data['host_acceptance_rate_cat'] = obj_data['host_acceptance_rate'].apply(acceptance_cat)
obj_data['host_acceptance_rate_cat'].value_counts()

host_acceptance_rate_cat = pd.DataFrame(ohe.fit_transform(obj_data[['host_acceptance_rate_cat']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, host_acceptance_rate_cat], axis = 1)

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\884073820.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data['host_acceptance_rate'] = obj_data['host_acceptance_rate'].str.replace('%','').astype('int')
C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\884073820.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data['host_acceptance_rate_cat'] = obj_data['host_acceptance_rate'].apply(acceptance_cat)

In [52]:
# host_is_superhost

host_is_superhost = pd.DataFrame(ohe.fit_transform(obj_data[['host_is_superhost']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, host_is_superhost], axis = 1)

In [54]:
# host_verifications

host_verifications = obj_data['host_verifications'].apply(lambda x: len(x.replace('[','').replace(']','').split(',')))
host_verifications = host_verifications.reset_index(drop = True)
ads = pd.concat([ads, host_verifications], axis = 1)

In [55]:
# host_has_profile_pic

host_has_profile_pic = pd.DataFrame(ohe.fit_transform(obj_data[['host_has_profile_pic']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, host_has_profile_pic], axis = 1)

In [56]:
# host_identity_verified

host_identity_verified = pd.DataFrame(ohe.fit_transform(obj_data[['host_identity_verified']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, host_identity_verified], axis = 1)

In [57]:
# property_type

property_type = pd.DataFrame(ohe.fit_transform(obj_data[['property_type']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, property_type], axis = 1)

In [58]:
# room_type

room_type = pd.DataFrame(ohe.fit_transform(obj_data[['room_type']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, room_type], axis = 1)

In [59]:
bathroom_count = obj_data['bathrooms_text'].apply(lambda x: x.replace('Shared half-bath', '0.5 shared').replace('Half-bath', '0.5 bath').split(' ')[0]).astype('float')
bathroom_count = bathroom_count.reset_index(drop = True)
bathroom_count = bathroom_count.rename('bathroom_count')

In [60]:
obj_data['bathrooms_text'].apply(lambda x: x.replace('Shared half-bath', '0.5 shared').replace('Half-bath', '0.5 bath').split(' ')[0])

0         1
1       2.5
2         1
3       1.5
4         3
       ...
2305      1
2306      2
2314      1
2322    1.5
2325      1
Name: bathrooms_text, Length: 1032, dtype: object

In [61]:
ads = pd.concat([ads, bathroom_count], axis = 1)

In [62]:
obj_data['bathroom_shared_flag'] = obj_data['bathrooms_text'].apply(lambda x: 't' if 'shared' in x else 'f')

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\1265981019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obj_data['bathroom_shared_flag'] = obj_data['bathrooms_text'].apply(lambda x: 't' if 'shared' in x else 'f')

In [63]:
bathroom_shared = pd.DataFrame(ohe.fit_transform(obj_data[['bathroom_shared_flag']]).toarray(),columns=ohe.get_feature_names_out())
ads = pd.concat([ads, bathroom_shared], axis=1)

In [64]:
# amenities

amenities = obj_data['amenities'].apply(lambda x: len(x.replace('[','').replace(']','').split(',')))
amenities = amenities.reset_index(drop = True)
ads = pd.concat([ads,amenities], axis = 1)

In [65]:
# instant_bookable

instant_bookable = pd.DataFrame(ohe.fit_transform(obj_data[['instant_bookable']]).toarray(), columns=ohe.get_feature_names_out())
ads = pd.concat([ads,instant_bookable], axis = 1)

In [66]:
ads = pd.concat([ads, numerical_data], axis=1)

In [67]:
price = obj_data['price'].str.replace('$','').str.replace(',','').astype('float').astype('int').reset_index(drop=True)
ads = pd.concat([ads, price], axis = 1)

C:\Users\dev3w\AppData\Local\Temp\ipykernel_17672\2371102118.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  price = obj_data['price'].str.replace('$','').str.replace(',','').astype('float').astype('int').reset_index(drop=True)

In [68]:
ads.head()

,host_response_time_a few days or more,host_response_time_within a day,host_response_time_within a few hours,host_response_time_within an hour,host_response_rate_cat_100,host_response_rate_cat_below_70,host_response_rate_cat_over_70,host_response_rate_cat_over_90,host_response_rate_cat_over_95,host_acceptance_rate_cat_100,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,price
0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.68,4.95,4.94,4.75,4.77,5,0,5,0,41
1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,4.98,5.00,4.99,4.97,4.88,1,0,1,0,96
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.42,5.00,4.93,4.74,4.70,1,0,1,0,32
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4.72,4.93,4.76,4.79,4.62,3,1,2,0,38
4,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,4.86,4.96,4.96,4.83,4.73,1,1,0,0,571

In [69]:
ads.isna().sum().sum()

0

In [70]:
ads.columns

Index(['host_response_time_a few days or more',
       'host_response_time_within a day',
       'host_response_time_within a few hours',
       'host_response_time_within an hour', 'host_response_rate_cat_100',
       'host_response_rate_cat_below_70', 'host_response_rate_cat_over_70',
       'host_response_rate_cat_over_90', 'host_response_rate_cat_over_95',
       'host_acceptance_rate_cat_100', 'host_acceptance_rate_cat_below_70',
       'host_acceptance_rate_cat_over_70', 'host_acceptance_rate_cat_over_90',
       'host_acceptance_rate_cat_over_95', 'host_is_superhost_f',
       'host_is_superhost_t', 'host_verifications', 'host_has_profile_pic_f',
       'host_has_profile_pic_t', 'host_identity_verified_f',
       'host_identity_verified_t', 'property_type_Barn',
       'property_type_Camper/RV', 'property_type_Entire bungalow',
       'property_type_Entire condo', 'property_type_Entire cottage',
       'property_type_Entire guest suite', 'property_type_Entire guesthouse',
       'property_type_Entire home', 'property_type_Entire loft',
       'property_type_Entire place', 'property_type_Entire rental unit',
       'property_type_Entire serviced apartment',
       'property_type_Entire townhouse', 'property_type_Houseboat',
       'property_type_Private room',
       'property_type_Private room in bed and breakfast',
       'property_type_Private room in bungalow',
       'property_type_Private room in cabin',
       'property_type_Private room in castle',
       'property_type_Private room in condo',
       'property_type_Private room in guest suite',
       'property_type_Private room in home',
       'property_type_Private room in loft',
       'property_type_Private room in rental unit',
       'property_type_Private room in serviced apartment',
       'property_type_Private room in tiny home',
       'property_type_Private room in townhouse',
       'property_type_Private room in yurt',
       'property_type_Room in aparthotel', 'property_type_Room in hotel',
       'property_type_Room in serviced apartment',
       'property_type_Shared room in home', 'property_type_Tiny home',
       'room_type_Entire home/apt', 'room_type_Hotel room',
       'room_type_Private room', 'room_type_Shared room', 'bathroom_count',
       'bathroom_shared_flag_f', 'bathroom_shared_flag_t', 'amenities',
       'instant_bookable_f', 'instant_bookable_t', 'accommodates', 'bedrooms',
       'beds', 'number_of_reviews_ltm', 'number_of_reviews_l30d',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'price'],
      dtype='object')

### Training the model

In [71]:
X = ads.loc[:, ads.columns!='price']
y = ads.loc[:, 'price']

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [73]:
pipe1 = Pipeline(steps=[('linear regression', LinearRegression())])

In [74]:
model = pipe1.fit(X_train,y_train)

In [75]:
pred = model.predict(X_test)

In [76]:
r2_score(y_test, pred), mean_absolute_percentage_error(y_test,pred)

(0.958054888036247, 0.45936808828116776)

In [77]:
lr = LinearRegression()

In [78]:
model = lr.fit(X_train, y_train)

In [79]:
pred = model.predict(X_test)

In [80]:
r2 = r2_score(y_test, pred)
mape = mean_absolute_percentage_error(y_test, pred)

In [81]:
r2, mape

(0.958054888036247, 0.45936808828116776)

In [82]:
class TestTransformer(BaseEstimator, TransformerMixin):
    def __init__(self):
        print('__init__ called...')
    
    def fit(self, X, y=None):
        print('fit called...')
        return self
    
    def transform(self, X, y=None):
        print('transformer called...')
        return X

In [83]:
# Pipeline 2

pipe2 = Pipeline(steps=[('transform',TestTransformer()), 
                        ('linear regression', LinearRegression())])

__init__ called...

In [84]:
m2 = pipe2.fit(X_train, y_train)

fit called...
transformer called...

In [85]:
pred = m2.predict(X_test)

transformer called...

In [86]:
r2_score(y_test, pred), mean_absolute_percentage_error(y_test, pred)

(0.958054888036247, 0.45936808828116776)

In [87]:
# Sub-set of columns to consider for model training
# Separate columns based on data type
# Perform transformations on columns
# Collate all data back to create ads
# Define the estimator in the pipeline

In [90]:
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector

In [252]:
class PercentageProcessing(BaseEstimator, TransformerMixin):
    def __init__(self, feature_list):
        print('__init__ called...')
        self.feature_list = feature_list
    
    def fit(self, X, y=None):
        print('fit() called...')
        return self
    
    def transform(self, X, y=None):
        print('transform() called...')               
        X_ = X.copy()
#         print(self.feature_list)
        for feature in self.feature_list:
            X_.iloc[:,feature] = pd.to_numeric(X_.iloc[:,feature].str.replace('%', '', regex = True)).apply(lambda x: self.percentage_cat(x))
        return X_
    
    def percentage_cat(self, percentage_cat):
        if percentage_cat == 100:
            return '100'
        elif percentage_cat >= 95 and percentage_cat <100:
            return 'over_95'
        elif percentage_cat >= 90 and percentage_cat <95:
            return 'over_90'
        elif percentage_cat >= 70 and percentage_cat <90:
            return 'over_70'
        else:
            return 'below_70'

In [315]:
data.columns[10]

'accommodates'

In [322]:
class ItemCount(BaseEstimator, TransformerMixin):
    def __init__(self, feature_list):
        print('__init__ called...')
        self.feature_list = feature_list
        
    def fit(self, X, y=None):
        print('fit() called...')
        return self
    
    def transform(self, X, y=None):
        print('transform() called...')
        X_ = X.copy()
        
        for feature in self.feature_list:
#             print(X_.columns[feature])
            X_.iloc[:,feature] = X_.iloc[:,feature].apply(lambda x: len(x.replace('[','').replace(']','').split(',')))
        
        return X_

In [323]:
class BathroomText(BaseEstimator, TransformerMixin):
    def __init__(self, feature):
        print('__init__ called...')
        self.feature = feature
        
    def fit(self, X, y=None):
        print('fit() called...')
        return self
    
    def transform(self, X, y=None):
        print('transform() called...')
        X_ = X.copy()
        
        X_['bathroom_count'] = X_.iloc[:,self.feature].apply(lambda x: x.replace('Shared half-bath', '0.5 shared').replace('Half-bath', '0.5 bath').str.split(' '))
        X_['bathroom_count'] = X_['bathroom_count'].str[0].astype('float')
#         X_['bathroom_shared_flag'] = X_.iloc[:,self.feature].apply(lambda x: self.shared(x))
#         X_['bathroom_shared_flag'] = self.shared(X_)
        X_ = X_.drop(X_.columns[self.feature], axis=1)
        return X_
    
#     def shared(self, df):
#         ls = []
#         for i in range(df.shape[0]):
#             print(df.iloc[i,self.feature])
#             if 'shared' in npdf.iloc[i,self.feature]:
#                 ls.append('t')
#             else:
#                 ls.append('f')
#         return ls

In [324]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032 entries, 0 to 2325
Data columns (total 30 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_response_time                            885 non-null    object
 1   host_response_rate                            885 non-null    object
 2   host_acceptance_rate                          982 non-null    object
 3   host_is_superhost                             1032 non-null   object
 4   host_verifications                            1032 non-null   object
 5   host_has_profile_pic                          1032 non-null   object
 6   host_identity_verified                        1032 non-null   object
 7   neighbourhood                                 1032 non-null   object
 8   property_type                                 1032 non-null   object
 9   room_type                                     1032 non-null   object
 10  accommodates                                  1032 non-null   int64
 11  bathrooms_text                                1031 non-null   object
 12  bedrooms                                      979 non-null    float64
 13  beds                                          1005 non-null   float64
 14  amenities                                     1032 non-null   object
 15  number_of_reviews_ltm                         1032 non-null   int64
 16  number_of_reviews_l30d                        1032 non-null   int64
 17  review_scores_rating                          920 non-null    float64
 18  review_scores_accuracy                        918 non-null    float64
 19  review_scores_cleanliness                     918 non-null    float64
 20  review_scores_checkin                         918 non-null    float64
 21  review_scores_communication                   918 non-null    float64
 22  review_scores_location                        918 non-null    float64
 23  review_scores_value                           918 non-null    float64
 24  instant_bookable                              1032 non-null   object
 25  calculated_host_listings_count                1032 non-null   int64
 26  calculated_host_listings_count_entire_homes   1032 non-null   int64
 27  calculated_host_listings_count_private_rooms  1032 non-null   int64
 28  calculated_host_listings_count_shared_rooms   1032 non-null   int64
 29  price                                         1032 non-null   object
dtypes: float64(9), int64(7), object(14)
memory usage: 282.2+ KB

In [325]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032 entries, 0 to 2325
Data columns (total 28 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_response_time                            885 non-null    object
 1   host_response_rate                            885 non-null    object
 2   host_acceptance_rate                          982 non-null    object
 3   host_is_superhost                             1032 non-null   object
 4   host_verifications                            1032 non-null   object
 5   host_has_profile_pic                          1032 non-null   object
 6   host_identity_verified                        1032 non-null   object
 7   property_type                                 1032 non-null   object
 8   room_type                                     1032 non-null   object
 9   accommodates                                  1032 non-null   int64
 10  bathrooms_text                                1031 non-null   object
 11  bedrooms                                      979 non-null    float64
 12  beds                                          1005 non-null   float64
 13  amenities                                     1032 non-null   object
 14  number_of_reviews_ltm                         1032 non-null   int64
 15  number_of_reviews_l30d                        1032 non-null   int64
 16  review_scores_rating                          920 non-null    float64
 17  review_scores_accuracy                        918 non-null    float64
 18  review_scores_cleanliness                     918 non-null    float64
 19  review_scores_checkin                         918 non-null    float64
 20  review_scores_communication                   918 non-null    float64
 21  review_scores_location                        918 non-null    float64
 22  review_scores_value                           918 non-null    float64
 23  instant_bookable                              1032 non-null   object
 24  calculated_host_listings_count                1032 non-null   int64
 25  calculated_host_listings_count_entire_homes   1032 non-null   int64
 26  calculated_host_listings_count_private_rooms  1032 non-null   int64
 27  calculated_host_listings_count_shared_rooms   1032 non-null   int64
dtypes: float64(9), int64(7), object(12)
memory usage: 266.1+ KB

In [373]:
preprocessing = Pipeline(steps = [('PercentageProcessing', PercentageProcessing([1,2]))
                    , ('ItemCount', ItemCount([4,13]))
                    , ('BathroomText', BathroomText([10]))])

__init__ called...
__init__ called...
__init__ called...

In [374]:
data_tf = pd.DataFrame(preprocessing.fit_transform(X))
data_tf.shape

fit() called...
transform() called...
fit() called...
transform() called...
fit() called...
transform() called...

(1032, 28)

In [375]:
data_tf.head()

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_verifications,host_has_profile_pic,host_identity_verified,property_type,room_type,accommodates,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,bathroom_count
0,within an hour,100,over_90,t,3,t,t,Private room in townhouse,Private room,2,...,4.95,4.94,4.75,4.77,f,5,0,5,0,1.0
1,within an hour,100,100,t,2,t,t,Private room in condo,Private room,2,...,5.00,4.99,4.97,4.88,f,1,0,1,0,2.5
2,within a few hours,100,below_70,f,2,t,t,Private room in townhouse,Private room,1,...,5.00,4.93,4.74,4.70,f,1,0,1,0,1.0
3,within a few hours,100,over_90,t,2,t,t,Private room in townhouse,Private room,2,...,4.93,4.76,4.79,4.62,f,3,1,2,0,1.5
4,NaN,below_70,100,t,2,t,t,Entire home,Entire home/apt,12,...,4.96,4.96,4.83,4.73,f,1,1,0,0,3.0

In [377]:
data_tf.iloc[0:5, 0:14]

,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_verifications,host_has_profile_pic,host_identity_verified,property_type,room_type,accommodates,bedrooms,beds,amenities,number_of_reviews_ltm
0,within an hour,100,over_90,t,3,t,t,Private room in townhouse,Private room,2,1.0,1.0,13,19
1,within an hour,100,100,t,2,t,t,Private room in condo,Private room,2,1.0,1.0,60,17
2,within a few hours,100,below_70,f,2,t,t,Private room in townhouse,Private room,1,1.0,1.0,29,8
3,within a few hours,100,over_90,t,2,t,t,Private room in townhouse,Private room,2,1.0,1.0,51,6
4,NaN,below_70,100,t,2,t,t,Entire home,Entire home/apt,12,5.0,9.0,50,8

In [379]:
data_tf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032 entries, 0 to 2325
Data columns (total 28 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_response_time                            885 non-null    object
 1   host_response_rate                            1032 non-null   object
 2   host_acceptance_rate                          1032 non-null   object
 3   host_is_superhost                             1032 non-null   object
 4   host_verifications                            1032 non-null   int64
 5   host_has_profile_pic                          1032 non-null   object
 6   host_identity_verified                        1032 non-null   object
 7   property_type                                 1032 non-null   object
 8   room_type                                     1032 non-null   object
 9   accommodates                                  1032 non-null   int64
 10  bedrooms                                      979 non-null    float64
 11  beds                                          1005 non-null   float64
 12  amenities                                     1032 non-null   int64
 13  number_of_reviews_ltm                         1032 non-null   int64
 14  number_of_reviews_l30d                        1032 non-null   int64
 15  review_scores_rating                          920 non-null    float64
 16  review_scores_accuracy                        918 non-null    float64
 17  review_scores_cleanliness                     918 non-null    float64
 18  review_scores_checkin                         918 non-null    float64
 19  review_scores_communication                   918 non-null    float64
 20  review_scores_location                        918 non-null    float64
 21  review_scores_value                           918 non-null    float64
 22  instant_bookable                              1032 non-null   object
 23  calculated_host_listings_count                1032 non-null   int64
 24  calculated_host_listings_count_entire_homes   1032 non-null   int64
 25  calculated_host_listings_count_private_rooms  1032 non-null   int64
 26  calculated_host_listings_count_shared_rooms   1032 non-null   int64
 27  bathroom_count                                1031 non-null   float64
dtypes: float64(10), int64(9), object(9)
memory usage: 266.1+ KB

In [341]:
imputation = ColumnTransformer(transformers=[('FloatTransform', SimpleImputer(strategy='mean'), [10, 11, 15, 16, 17, 18, 19, 20, 21, 27])
                                    ,('IntTransform', SimpleImputer(strategy='median'), [4, 9, 12, 13, 14, 23, 24, 25, 26])
                                    ,('ObjImpute', SimpleImputer(strategy='most_frequent'), [0,1,2,3,5,6,7,8,22])]
                      , verbose_feature_names_out=True
                     )

In [348]:
# ,('imputation', imputation)
# ,

In [380]:
data_pipeline = Pipeline(steps=[('preprocessing', preprocessing)
                               ,('imputation', imputation)])

In [386]:
inputed_data = pd.DataFrame(data_pipeline.fit_transform(X))

fit() called...
transform() called...
fit() called...
transform() called...
fit() called...
transform() called...

In [387]:
inputed_data.iloc[0:5,0:20]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.0,1.0,4.78,4.9,4.68,4.95,4.94,4.75,4.77,1.0,3.0,2.0,13.0,19.0,0.0,5.0,0.0,5.0,0.0,within an hour
1,1.0,1.0,4.95,4.93,4.98,5.0,4.99,4.97,4.88,2.5,2.0,2.0,60.0,17.0,1.0,1.0,0.0,1.0,0.0,within an hour
2,1.0,1.0,4.76,4.67,4.42,5.0,4.93,4.74,4.7,1.0,2.0,1.0,29.0,8.0,2.0,1.0,0.0,1.0,0.0,within a few hours
3,1.0,1.0,4.63,4.83,4.72,4.93,4.76,4.79,4.62,1.5,2.0,2.0,51.0,6.0,0.0,3.0,1.0,2.0,0.0,within a few hours
4,5.0,9.0,4.94,4.9,4.86,4.96,4.96,4.83,4.73,3.0,2.0,12.0,50.0,8.0,0.0,1.0,1.0,0.0,0.0,within an hour

In [388]:
inputed_data.iloc[0:5,20:40]

         20        21 22 23 24                         25               26 27
0       100   over_90  t  t  t  Private room in townhouse     Private room  f
1       100       100  t  t  t      Private room in condo     Private room  f
2       100  below_70  f  t  t  Private room in townhouse     Private room  f
3       100   over_90  t  t  t  Private room in townhouse     Private room  f
4  below_70       100  t  t  t                Entire home  Entire home/apt  f

In [389]:
ohe = ColumnTransformer(transformers=[('ohe', OneHotEncoder(handle_unknown='ignore'), [19,20,21,22,23,24,25,26,27])]
                       ,remainder='passthrough')

In [390]:
data_pipeline = Pipeline(steps=[('preprocessing', preprocessing)
                               ,('imputation', imputation)
                               ,('ohe', ohe)])

In [412]:
import pickle
pickle.dump(data_pipeline, open('data_pipeline.pkl','wb'))

In [394]:
processed_data = pd.DataFrame(data_pipeline.fit_transform(X))
processed_data.shape

fit() called...
transform() called...
fit() called...
transform() called...
fit() called...
transform() called...

(1032, 78)

In [397]:
processed_data.iloc[0:5, 0:20]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0

In [398]:
processed_data.iloc[0:5, 20:40]

,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [399]:
processed_data.iloc[0:5, 40:60]

,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5.0

In [400]:
processed_data.iloc[0:5, 60:80]

,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77
0,1.0,4.78,4.9,4.68,4.95,4.94,4.75,4.77,1.0,3.0,2.0,13.0,19.0,0.0,5.0,0.0,5.0,0.0
1,1.0,4.95,4.93,4.98,5.0,4.99,4.97,4.88,2.5,2.0,2.0,60.0,17.0,1.0,1.0,0.0,1.0,0.0
2,1.0,4.76,4.67,4.42,5.0,4.93,4.74,4.7,1.0,2.0,1.0,29.0,8.0,2.0,1.0,0.0,1.0,0.0
3,1.0,4.63,4.83,4.72,4.93,4.76,4.79,4.62,1.5,2.0,2.0,51.0,6.0,0.0,3.0,1.0,2.0,0.0
4,9.0,4.94,4.9,4.86,4.96,4.96,4.83,4.73,3.0,2.0,12.0,50.0,8.0,0.0,1.0,1.0,0.0,0.0

In [402]:
ml_pipeline = Pipeline(steps=[('data_pipeline', data_pipeline)
                             ,('linear_regression', LinearRegression())])

In [413]:
pickle.dump(ml_pipeline, open('ml_pipeline_airbnb.pkl', 'wb'))

In [403]:
display(ml_pipeline)

Pipeline(steps=[('data_pipeline',
                 Pipeline(steps=[('preprocessing',
                                  Pipeline(steps=[('PercentageProcessing',
                                                   PercentageProcessing(feature_list=[1,
                                                                                      2])),
                                                  ('ItemCount',
                                                   ItemCount(feature_list=[4,
                                                                           13])),
                                                  ('BathroomText',
                                                   BathroomText(feature=[10]))])),
                                 ('imputation',
                                  ColumnTransformer(transformers=[('FloatTransform',
                                                                   SimpleImputer(),
                                                                   [10, 11, 15,
                                                                    16, 17, 18,
                                                                    19, 20, 21,
                                                                    27]),
                                                                  ('IntTransform',
                                                                   SimpleImputer(strategy='median'),
                                                                   [4, 9, 12,
                                                                    13, 14, 23,
                                                                    24, 25,
                                                                    26]),
                                                                  ('ObjImpute',
                                                                   SimpleImputer(strategy='most_frequent'),
                                                                   [0, 1, 2, 3,
                                                                    5, 6, 7, 8,
                                                                    22])])),
                                 ('ohe',
                                  ColumnTransformer(remainder='passthrough',
                                                    transformers=[('ohe',
                                                                   OneHotEncoder(handle_unknown='ignore'),
                                                                   [19, 20, 21,
                                                                    22, 23, 24,
                                                                    25, 26,
                                                                    27])]))])),
                ('linear_regression', LinearRegression())])

In [405]:
m1 = ml_pipeline.fit(X,y)

fit() called...
transform() called...
fit() called...
transform() called...
fit() called...
transform() called...

In [408]:
pred = m1.predict(X)

transform() called...
transform() called...
transform() called...

In [410]:
r2_score(y, pred), mean_absolute_percentage_error(y, pred)

(0.9683033366240836, 0.4245416839240649)

In [270]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1032 entries, 0 to 2325
Data columns (total 30 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   host_response_time                            885 non-null    object
 1   host_response_rate                            1032 non-null   object
 2   host_acceptance_rate                          1032 non-null   object
 3   host_is_superhost                             1032 non-null   object
 4   host_verifications                            1032 non-null   int64
 5   host_has_profile_pic                          1032 non-null   object
 6   host_identity_verified                        1032 non-null   object
 7   neighbourhood                                 1032 non-null   object
 8   property_type                                 1032 non-null   object
 9   room_type                                     1032 non-null   object
 10  accommodates                                  1032 non-null   int64
 11  bedrooms                                      979 non-null    float64
 12  beds                                          1005 non-null   float64
 13  amenities                                     1032 non-null   int64
 14  number_of_reviews_ltm                         1032 non-null   int64
 15  number_of_reviews_l30d                        1032 non-null   int64
 16  review_scores_rating                          920 non-null    float64
 17  review_scores_accuracy                        918 non-null    float64
 18  review_scores_cleanliness                     918 non-null    float64
 19  review_scores_checkin                         918 non-null    float64
 20  review_scores_communication                   918 non-null    float64
 21  review_scores_location                        918 non-null    float64
 22  review_scores_value                           918 non-null    float64
 23  instant_bookable                              1032 non-null   object
 24  calculated_host_listings_count                1032 non-null   int64
 25  calculated_host_listings_count_entire_homes   1032 non-null   int64
 26  calculated_host_listings_count_private_rooms  1032 non-null   int64
 27  calculated_host_listings_count_shared_rooms   1032 non-null   int64
 28  price                                         1032 non-null   object
 29  bathroom_count                                1031 non-null   float64
dtypes: float64(10), int64(9), object(11)
memory usage: 282.2+ KB

In [ ]:
# drop 7
[0, 1, 2, 3, 5, 6, 8, 9, 23]

In [ ]:
['host_response_time',      ohe
 'host_response_rate',      Pre-processing, ohe
 'host_acceptance_rate',    Pre-processing, ohe
 'host_is_superhost',       ohe
 'host_verifications',      Pre-processing
 'host_has_profile_pic',    ohe
 'host_identity_verified',  ohe
 'neighbourhood',           drop
 'property_type',           ohe
 'room_type',               ohe
 'bathrooms_text',          Pre-processing, derive 2 columns
 'amenities',               Pre-processing same as host verification
 'instant_bookable',        ohe
 'price',                   drop
]